@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;800&display=swap');

:root {
  --eggplant: #49274A;
  --sand: #F4DECB;
  --grape: #94618E;
  --shell: #F8EEE7;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
}

#root {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.app {
  background: var(--sand);
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.blog-title {
  padding: 2rem;
  margin-bottom: 2rem;
}

.blog-title h1 {
  font-size: 3rem;
  color: var(--eggplant);
}
.slant {
  position: absolute;
  height: 15vh;
  width: 120%;
  background: var(--eggplant);
  transform: rotate(-3deg);
  top: -70px;
  z-index: -1;
}
.blog-description {
  position: relative;
  display: flex;
  justify-content: space-around;
  min-height: 15vh;
  padding-bottom: 1.5rem;
  width: 100%;
  background: var(--eggplant);
  z-index: 3;
}
.contain-svg {
  height: 100px;
  width: 100px;
}

.contain-svg svg {
  fill: var(--shell);
}

.blog-description p {
  font-size: 1.5rem;
  color: var(--shell);
  width: 60%;
}

.blog-post {
  margin-top: auto;
}

.post-card {
  min-height: 200px;
  width: 250px;
  padding: 1rem;
  border: 2px solid var(--eggplant);
  border-radius: 5px;
  background-color: var(--grape);
  color: var(--sand);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 5rem;
  min-height: 30%;
  margin: 0 auto;
}

.post-card h2{
  font-size: 1.4rem;
}

button {
  background-color: var(--sand);
  color: var(--grape);
  border: none;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.post-page {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--sand);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-page h1{
  color: var(--eggplant);
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.post-body {
  margin-bottom: 2rem;
  width: 60%;
}

.commentdiv {
  border-top: var(--eggplant) 2px solid;
  width: 100%;
  margin-top: 0rem;
}

.commentor {
  font-weight: 800;
  color: var(--eggplant);
  margin-top: 0.5rem;
}

.commentdiv p {
  text-align: left; 
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  font-size: 1rem;
}

.commentdiv .date {
  text-align: right;
  margin-right: 0.5rem;
}

.center-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

form {
  width: 100%;
}
.form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.5rem;
}

.form-input input, .form-input textarea {
  width: 100%;
  font-size: 1rem;
  padding: 0.2rem;
}

.form-input button {
  background-color: var(--eggplant);
  color: var(--sand);
}

.form-input label {
  margin-bottom: 0.1rem;
  text-align: left;
  margin-left: 0.5rem;
}

.nav-home {
  width: 100%;
  text-align: start;
  padding-left: 2rem;
}
.nav-home a{
  text-decoration: none;
  color: var(--eggplant);
  font-size: 1.25rem;
  
}

.error {
  width: 100%;
  min-height: 100vh;
  background-color: var(--sand);
  color: var(--eggplant);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

@media screen and (max-width: 1200px) {
  .blog-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 0 5rem;
    min-height: 30%;
    gap: 1rem;
    margin: 2rem 0;
  }
}

@media screen and (max-width: 1024px) {
  .blog-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    padding: 0 5rem;
    min-height: 30%;
    gap: 1rem;
    margin: 2rem 0;
  }
}

@media screen and (max-width: 768px) {
  .blog-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 0 5rem;
    min-height: 30%;
    gap: 1rem;
    margin: 2rem 0;
  }

  .blog-title {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 480px) {
  .blog-posts {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    min-height: 40%;
    gap: 1rem;
    /* margin: 2rem 0; */
  }

  .blog-description {
    flex-direction: column;
    align-items: center;
  }

  .blog-title {
    margin-bottom: 6rem;
  }

  .post-body, .center-comments {
    width: 80%;
  }
}




  
