@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;800&display=swap');

:root {
  --darkblue: #1E232E;
  --armygreen: #7A6D31;
  --rose: #7A577A;
  --elm: #287A70;
  --forest: #162E25;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --yeseva: 'Yeseva One', cursive;
  --josefin: 'Josefin Sans', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
}

#root {
  padding: 0;
  margin: 0;
  max-width: 100%;
}

.app {
  background: var(--darkblue);
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.blog-title {
  padding: 2rem;
  margin-bottom: 8rem;
}

.blog-title h1 {
  font-size: 3rem;
  color: var(--white);
}
.slant {
  position: absolute;
  height: 15vh;
  width: 100%;
  background: var(--forest);
  transform: rotate(-3deg);
  top: -70px;
  z-index: -1;
}
.blog-description {
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  min-height: 15vh;
  padding: 0 1.5rem 1.5rem 1.5rem;
  width: 100%;
  background: var(--forest);
  z-index: 3;
}
.max-width {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contain-svg {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100px;
}
.divider {
  height: 5px;
  background: rgb(122,87,122);
  background: linear-gradient(90deg, rgba(122,87,122,1) 0%, rgba(122,109,49,1) 100%);;
}
.top {
  position: relative;
  transform: rotate(-3deg);
  top: -70px;
  z-index: 10;
}
.contain-svg svg {
  fill: var(--armygreen);
}

.blog-description p {
  font-size: 1.5rem;
  color: var(--white);
  margin: 2rem auto;
  max-width: 1200px;
  
}

.blog-post {
  margin-top: auto;
}

.post-card {
  min-height: 200px;
  padding: 1rem;
  border: 2px solid var(--darkblue);
  border-radius: 20px;
  background-color: var(--armygreen);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3rem 0;
}

.blog-posts {
  margin: 0 3rem;
  max-width: 1200px;
}

.post-card h2{
  font-size: 1.4rem;
}

button {
  background-color: var(--rose);
  color: var(--white);
  border: none;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.post-page {
  min-height: 100vh;
  width: 100vw;
  background-color: var(--forest);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-page h1{
  color: var(--armygreen);
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.post-body {
  margin-bottom: 2rem;
  color: var(--white);
  width: 90%;
  text-align: left;
  max-width: 1200px;
}

.commentdiv {
  border-top: var(--elm) 2px solid;
  width: 100%;
  margin-top: 0rem;
}

.commentdiv .commentor {
  font-weight: 800;
  color: var(--armygreen);
  margin-top: 0.5rem;
}

.commentdiv p {
  text-align: left; 
  color: var(--white);
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  font-size: 1rem;
  margin: 0 1rem;
}

.commentdiv .date {
  text-align: right;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

.center-comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1200px;
}

form {
  width: 100%;
}
form label {
  color: var(--armygreen);
  font-weight: 700;
}
.form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.5rem;
}

.form-input input, .form-input textarea {
  width: 100%;
  font-size: 1rem;
  padding: 0.2rem;
}

.form-input label {
  margin-bottom: 0.1rem;
  text-align: left;
  margin-left: 0.5rem;
}

.nav-home {
  width: 100%;
  max-width: 1200px;
  text-align: start;
  padding-left: 2rem;
}
.nav-home a{
  text-decoration: none;
  color: var(--white);
  font-size: 1.25rem;
  
}

.error {
  width: 100%;
  min-height: 100vh;
  background-color: var(--armygreen);
  color: var(--darkblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}  

@media (min-width: 850px) {
  .blog-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin: 0 auto 2rem;
  }
  .blog-title {
    margin-top: 3rem;
  }
  .post-card {
    width: 250px;
    margin: 3rem 0 0 0;
  }
  .max-width {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
  }
  .slant {
    width: 170%;
    top: -6rem;
    left: 0rem;
  }
  .top {
    width: 170%;
    top: -6rem;
    left: 0rem;
  }
  .contain-svg {
    width: 200px;
    height: 200px;
  }
  .nav-home {
    padding-left: 0;
  }
}